<div class = "d-flex" id = "wrapper" ng-controller = "TicketSelectController">
    <!-- Sidebar -->
    <div class = "bg-light border-right border-bottom p-2">
        <button class="sidebar-heading">Создать заявку</button>
        <div class = "list-group list-group-flush">
            <a href = "#" class="list-group-item list-group-item-action bg-light">Открыто</a>
            <a href = "#" class="list-group-item list-group-item-action bg-light">Мои</a>
            <a href = "#" class="list-group-item list-group-item-action bg-light">В процессе</a>
            <a href = "#" class="list-group-item list-group-item-action bg-light">Выполнено</a>
            <a href = "#" class="list-group-item list-group-item-action bg-light">Неприсвоенные</a>
            <a href = "#" class="list-group-item list-group-item-action bg-light">Стандартно</a>
            <a href = "#" class="list-group-item list-group-item-action bg-light">Средний</a>
            <a href = "#" class="list-group-item list-group-item-action bg-light">Срочно</a>
        </div>
    </div>
    <div class = "w-100">
        <table class = "table">
            <thead>
                <tr>
                    <th scope = "col"><input type="checkbox"></th>
                    <th scope = "col">Тема</th>
                    <th scope = "col">ID заявки</th>
                    <th scope = "col">Заявка от</th>
                    <th scope = "col">Исполнитель</th>
                    <th scope = "col">Последний ответ</th>
                    <th scope = "col">Статус</th>
                    <th scope = "col">Приоритет</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="ticket in vm.allBooks">
                    <td>{{book.title}}</td>
                    <td>{{book.author}}</td>
                    <td>{{book.count}}</td>
                    <td><a class="btn btn-default"
                            href="#/editBook/{{book.id}}">Edit</a>
                        <a
                                class="btn btn-danger"
                                ng-click="vm.disableBook(book.id)">Disable
                        </a>
                    </td>
                </tr>
                <tr>
                    <th scope = "row"><input type="checkbox"></th>
                    <td>Поломка</td>
                    <td>860</td>
                    <td>Yoda</td>
                    <td>
                        <select name = "owner">
                            <option value ="Неприсвоенный">
                                Неприсвоенный
                            </option>
                        </select>
                    </td>
                    <td>Yoda</td>
                    <td>
                        <select>
                            <option value = "Открыто">
                                Открыто
                            </option>
                            <option value = "В процессе">
                                В процессе
                            </option>
                            <option value = "Выполнено">
                                Выполнено
                            </option>
                        </select>
                    </td>
                    <td>
                        <select>
                            <option value = "Стандартный">
                                Стандартный
                            </option>
                            <option value = "Средний">
                                Средний
                            </option>
                            <option value = "Срочный">
                                Срочный
                            </option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th scope="row"><input type="checkbox"></th>
                    <td>Не работает</td>
                    <td>870</td>
                    <td>Superman</td>
                    <td>Неприсвоенный</td>
                    <td>Superman</td>
                    <td>Открыто</td>
                    <td>Стандартно</td>
                </tr>
                <tr>
                    <th scope="row"><input type="checkbox"></th>
                    <td>Сломалось</td>
                    <td>590</td>
                    <td>Toto</td>
                    <td>Неприсвоенный</td>
                    <td>Toto</td>
                    <td>Открыто</td>
                    <td>Стандартно</td>
                </tr>
            </tbody>
        </table>
    </div>    
</div>
