<div class = "d-flex" id = "wrapper" ng-controller = "TicketPageController">
    <!-- Sidebar -->
    <div class = "bg-light border-right border-bottom p-2">
        <button class="sidebar-heading">Создать заявку</button>
        <div class = "list-group list-group-flush">
            <a href = "#" class="list-group-item list-group-item-action bg-light">Открыто</a>
            <a href = "#" class="list-group-item list-group-item-action bg-light">Мои</a>
            <a href = "#" class="list-group-item list-group-item-action bg-light">В процессе</a>
            <a href = "#" class="list-group-item list-group-item-action bg-light">Выполнено</a>
            <a href = "#" class="list-group-item list-group-item-action bg-light">Неприсвоенные</a>
            <a href = "#" class="list-group-item list-group-item-action bg-light">Стандартно</a>
            <a href = "#" class="list-group-item list-group-item-action bg-light">Средний</a>
            <a href = "#" class="list-group-item list-group-item-action bg-light">Срочно</a>
        </div>
    </div>
    <div class="w-100">
            <div class="row text-center m-0">
            <div class="col-4 border p-0">
            Create date
        </div>
        <div class="col-4 border p-0">
            Status
        </div>
    <div class="col-4 border p-0">
            Priority
        </div>
        <div class="col-4 border p-0 offset-2">
            Priority
        </div><div class="col-4 border p-0">Priority</div><div class="col-8 border p-1 offset-2">text<br><br><br><br><br><br><br><br><br><br><br></div>
        </div>
        </div>
</div>