<div class='container' ng-controller='TicketPageController as tc'>
    <div class='row'>
        <div class='col-md-12'>
            <div class='panel panel-default'>
                <div class='panel-heading main-color-bg'>
                    <h3 class='panel-title'>Редактирование заявки</h3>
                </div>
                <div class='row m-0'>
                    <div class='col-4 form-group p-1'>
                        <label for='assignee'>Админ:</label>
                        <select name='assignee'
                        id='assignee' class='border w-100' required
                        ng-model='tc.ticket.assignee'>
                            <option>Неприсвоенный</option>
                            <option>Admin</option>
                        </select>
                    </div>
                    <div class='col-4 form-group p-1'>
                        <label for='status'>Статус:</label>
                        <select name='status'
                        id='status' class='border w-100' required
                        ng-model='tc.ticket.status'>
                            <option>Открыт</option>
                            <option>В процессе</option>
                            <option>Закрыт</option>
                        </select>
                    </div>
                    <div class='col-4 form-group p-1'>
                        <label for='priority'>Приоритет:</label>
                        <select name='priority'
                        id='priority' class='border w-100' required
                        ng-model='tc.ticket.priority'>
                            <option>Стандартный</option>
                            <option>Средний</option>
                            <option>Срочный</option>
                        </select>
                    </div>
                </div>
                <div class='col-12 p-0 d-none' ng-model='tc.ticket.timeUpdate'>
                    Время последнего изменения: {{tc.ticket.timeUpdate}}
                </div>
                <div class='col-12 p-0' ng-model='tc.ticket.title'>
                    Название заявки: {{tc.ticket.title}}
                </div>
                <div class='col-12 p-0' ng-model='tc.ticket.from'>
                    Автор: {{tc.ticket.from}}
                </div>
                <div class='col-12 p-0'>
                    <div class='col-12 p-0' ng-model='tc.ticket.text'>
                        Текст заявки:
                    </div>
                    <div class='col-12 form-control p-2 text-center h-25' ng-model='tc.ticket.text'>
                        {{tc.ticket.text}}
                    </div>
                </div>
                <div class='col-12 form-control p-2 mt-3 h-25'>
                    <textarea type='text' name='textMessage' class='w-100' ng-model='ticket.newtext' placeholder='Введите текст для добавления'></textarea>
                    <button type='submit' class='btn btn-primary'
                                        ng-click='tc.updateTicket()'>Submit
                    </button>
                    <button class='btn btn-warning'
                                        ng-click='tc.cancelUpdate()'>Cancel
                    </button>
                </div>
            </div>
        </div>
    </div>
    <toaster-container class='toaster main-toaster'
                       toaster-options='{"animation-class": "toast-top-right", "limit": 5}'></toaster-container>
</div>